@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: "normal";
    src: url("../fonts/Raleway/Raleway-normal.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: "italic";
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: "normal";
    src: url("../fonts/Lato/Lato-normal.ttf");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: "italic";
    src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: "italic";
    src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
    font-family: "Cotoris";
    font-weight: 400;
    font-style: "normal";
    src: url("../fonts/Cotoris.otf");
}

@font-face {
    font-family: "Cotoris";
    font-weight: 600;
    font-style: "normal";
    src: url("../fonts/CotorisBold.otf");
}

@font-face {
    font-family: "Cotoris";
    font-weight: 700;
    font-style: "bolder";
    src: url("../fonts/CotorisHeavy.otf");
}

@font-face {
    font-family: "Cotoris";
    font-weight: 400;
    font-style: "italic";
    src: url("../fonts/CotorisItalic.otf");
}

@font-face {
    font-family: "Univers";
    font-weight: 400;
    font-style: "normal";
    src: url("../fonts/univers_ssv/UniversLTStd.otf");
}

@font-face {
    font-family: "Univers";
    font-weight: 600;
    font-style: "normal";
    src: url("../fonts/univers_ssv/UniversBlack.ttf");
}

@font-face {
    font-family: "Univers";
    font-weight: 900;
    font-style: "normal";
    src: url("../fonts/univers_ssv/UniversBlack.ttf");
}

@font-face {
    font-family: "Univers";
    font-weight: 700;
    font-style: "italic";
    src: url("../fonts/univers_ssv/UniversLTStd-BoldObl.otf");
}

@font-face {
    font-family: "Burgess";
    font-weight: 400;
    font-style: "normal";
    src: url("../fonts/Burgess/Burgess.ttf");
}

@font-face {
    font-family: "Burgess";
    font-weight: 700;
    font-style: "normal";
    src: url("../fonts/Burgess/BurgessBold.ttf");
}


@font-face {
    font-family: "Burgess";
    font-weight: 400;
    font-style: "italic";
    src: url("../fonts/Burgess/BurgessItalic.ttf");
}