::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

.time-line {
    height: 100%;
    width: 100%;
    position: relative;

    ul {
        position: relative;
        position: absolute;
        display: block;
        top: 10%;
        left: -22%;
        width: auto;
        height: 140%;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg) translateY(-80px);
        transform-origin: right top;
        padding: 10px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        li {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 15px;
            transform: rotate(90deg);
            width: 200px;
            height: 200px;
            margin: 20px;
            border-top: 2px solid $dark-purple;
            user-select: none;

            &::after {
                content: "";
                position: absolute;
                top: -6px;
                right: -17px;
                height: 10px;
                width: 10px;
                background: var(--color-dark);
                transition: 300ms ease-in;
            }

            &:first-child::before {
                content: "";
                position: absolute;
                top: -6px;
                left: -17px;
                height: 10px;
                width: 10px;
                background: var(--color-dark);
                transition: 300ms ease-in;
            }

            a {
                font-family: "Open Sans Condensed", sans-serif;
                font-size: 0.8em;
                text-decoration: none;
                list-style-type: none;
                color: var(--color-darker);
                padding: 5px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .text-wrapper {
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(10px);
                height: 150px;
                width: 150px;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s;
                z-index: 1;
                background-position: 50% 50%;
                background-size: cover;
                border-radius: 2%;
                user-select: none;

                .black-filter {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    box-shadow: 3px 3px 5px lightgrey;
                    background: rgba(white, 0.4);
                    border-top: 3px solid var(--color-dark);
                    user-select: none;

                    h2 {
                        font-family: "Open Sans Condensed", sans-serif;
                        font-size: 13px;
                        text-align: center;
                        color: #333;
                    }

                    p {
                        font-family: "Open Sans Condensed", sans-serif;
                        color: #333;
                        font-size: 12px;
                        font-style: italic;
                        opacity: 1;
                        margin: 0;
                    }
                }
            }

            .date-wrapper {
                font-family: "Open Sans Condensed", sans-serif;
                font-size: 0.9em;
                font-weight: 800;
                color: var(--color-darker);
                width: 100%;
                position: absolute;
                left: 61%;
                transform: translateX(-30%) translateY(-20px);
                visibility: hidden;
                opacity: 0;
                transition: 0.5s;
                z-index: 1;
                user-select: none;
            }

            &:hover {
                a {
                    color: $grey-light;
                    background-color: var(--color-darker);
                }

                .text-wrapper {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(-50%) translateY(40px);
                }

                .date-wrapper {
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(-30%) translateY(-40px);
                }

                &::after {
                    background: var(--color-flash);
                    transform: rotate(45deg);
                }

                &:first-child::before {
                    background: var(--color-flash);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .top-right {
        .time-line {
            margin-top: -30px;

            ul {
                height: 200%;
                left: -15%;
                top: 0;
                padding-right: 30px;

                li .date-wrapper {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-30%) translateY(-50px);

                    &:hover {
                        display: none;
                    }
                }

                li .text-wrapper {
                    height: 140px;
                    width: 140px;
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(-50%) translateY(30px);

                    &:hover {
                        display: none;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 414px) {
    .top-right .time-line {
        display: none;
        margin-top: -40px;
    }

    .top-right .time-line ul {
        left: -20%;
        padding-right: 15px;
        height: 175%;
    }

    .top-right .time-line ul li .date-wrapper {
        font-size: 0.6em;
        transform: translateX(-33%) translateY(-30px);
    }

    .time-line ul li {
        border-top: 1px solid #1d0329;
        width: 100px;
        height: 100px;

        &:hover {
            display: none;
        }
    }

    .time-line ul li a {
        font-size: 0.5em;
    }

    .time-line ul li:first-child::before {
        top: -3px;
        left: -9px;
        height: 5px;
        width: 5px;
    }

    .time-line ul li::after {
        top: -3px;
        right: -9px;
        height: 5px;
        width: 5px;
    }

    .top-right .time-line ul li .text-wrapper {
        transform: translateX(-50%) translateY(20px);
        height: 100px;
        width: 100px;
    }

    .time-line ul li .text-wrapper .black-filter h2 {
        font-size: 11px;
    }

    .time-line ul li .text-wrapper .black-filter p {
        font-size: 10px;
    }

    .time-line ul li .text-wrapper .black-filter {
        border-top: 2px solid var(--color-dark);
    }
}