@import "./fonts";

body {
  background-color: var(--color-body);
  font-family: "Lato";
  font-weight: 400;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;

  h1 {
    font-family: "Raleway";
  }

  h2,
  a {
    font-family: "Lato";
  }
}

.top-left {
  grid-column: 1;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%;
}

.top-right {
  grid-column: 2;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%;
}

.bottom-left {
  grid-column: 1;
  grid-row: 2;
  max-height: 100%;
  max-width: 100%;
}

.bottom-right {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  max-height: 100%;
  max-width: 100%;

  .bottom-right-top-left {
    grid-column: 1;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%;
  }

  .bottom-right-top-right {
    grid-column: 2;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%;
  }

  .bottom-right-bottom-left {
    grid-column: 1;
    grid-row: 2;
    max-height: 100%;
    max-width: 100%;
  }

  .bottom-right-bottom-right {
    grid-column: 2;
    grid-row: 2;
    max-height: 100%;
    max-width: 100%;
  }
}

:root {
  --color-body: #eee;
  --color-lighter: #aeccdc;
  --color-light: #d4e7ef;
  --color-normal: #b3cede;
  --color-regular: #80a4c6;
  --color-dark: #5b7dac;
  --color-darker: #5b79ab;
  --color-flash: #68d7f4;
}

// COLORS
$color-lighter: #aeccdc; // orange-lighter:#F5EA91;     green-lighter : #D9E8B9;        // pastel-lighter: #FDFCEF;
$color-light: #d4e7ef; // orange-light : #F8D462;       green-light : #B2DD58;          // pastel-light : #FDF3D0;
$color-normal: #b3cede; // orange-normal : #f5b636      green-normal: #4EA235;          //pastel-normal : #FCD0DB;
$color-regular: #80a4c6; // orange-regular #F09536      green-regular: #3A9135;         //pastel-regular : #D2DAFD;
$color-dark: #5b7dac; // orange-dark: #F76639            green-dark: #319468;            //pastel-dark : #A54E97;
$color-darker: #5b79ab; // orange-darker: #D55330       green-darker: #2F715B;           //pastel-darker : #502A59;
$color-flash: #68d7f4; // red-flash: #EC3E37            green-flash: #53E799;            // pastel-flash :  #A598EC;

$grey-normal: #f3f4f5;

// Greys
$grey-lighter: #eef5f8;
$grey-light: #f0f0f0;
$grey-normal: #f3f4f5;
$grey-regular: #e8e9ea;
$grey-dark: #ced5da;

// Dark
$dark-purple: rgb(29, 3, 41);

// BACKGROUND SVG
.background {
  svg {
    width: 100vw;
    height: 100vh;

    path {
      transition: all 700ms ease-out;
      transform-origin: center center;
      opacity: 1;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  position: relative;

  // background-color: rgba(0, 0, 0, 0.4);
  // border: 15px solid rgba(0, 0, 0, 1);
  // animation: fadeIn 3s ease-in 800ms;
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 75%;
    margin: auto;

    .nom {
      margin-top: 5%;
    }

    .hover-letter {
      font-family: "Univers";
      letter-spacing: 5px;
      font-weight: 700;
      font-style: "regular";
      text-transform: uppercase;
      font-size: 10vh;
      color: #fff;
      text-shadow: none;
      transition: 50ms ease-in-out;
      user-select: none;

      &:hover {
        text-shadow: (-2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff);
        color: #eee;
      }
    }

    .majuscule {
      font-size: 12vh;
      text-shadow: (-2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff);
      color: #eee;

      &:hover {
        color: #fff;
        text-shadow: none;
      }
    }
  }

  #click-to-start {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    box-shadow: 10px 10px 14px rgba(grey, 0.5);
    cursor: pointer;

    .click {
      position: absolute;
      font-family: "Kaushan Script", cursive;
      bottom: 0%;
      right: 3%;
      transform: rotate(-16deg);
      font-size: 1.2rem;
    }
  }

  .icons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin: 0 5%;

    .reseaux-sociaux {
      display: flex;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 1em;
        box-shadow: 1px 1px 2px grey;
        transition: 400ms ease-in-out;

        .fa-facebook-f,
        .fa-linkedin-in,
        .fa-github {
          color: var(--color-dark);
          align-items: center;
        }

        &:hover {
          background-color: var(--color-dark);

          .fa-facebook-f,
          .fa-linkedin-in,
          .fa-github {
            color: #fff;
          }
        }
      }
    }

    .colors {
      display: flex;

      .color-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 1px 1px 2px grey;
        margin: 0 1em;
        cursor: pointer;

        #blue {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: #5b7dac;
        }

        #green {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: #8fbc8f;
        }

        #orange {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: #ffae19;
        }
      }
    }
  }
}

.background {
  // animation: fadeIn 3s ease-in 800ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.background+main {
  display: grid;
  opacity: 1;
  transition: opacity 1s linear 1.6s;
  visibility: visible;
}

.background.mosaique+main {
  opacity: 0;
  visibility: hidden;
}

.background.mosaique+main+.container {
  display: block;
}

.background+main+.container {
  display: none;
}

main {
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

svg {

  #vector-3,
  #vector-35,
  #vector-79,
  #vector-71,
  #vector-77,
  #vector-80,
  #vector-83,
  #vector-84,
  #vector-63,
  #vector-64,
  #vector-76,
  #vector-78,
  #vector-75,
  #vector-73 {
    opacity: 0.1;
  }

  #vector-28,
  #vector-34,
  #vector-46,
  #vector-44,
  #vector-43,
  #vector-69,
  #vector-68,
  #vector-72,
  #vector-74 {
    opacity: 0.2;
  }

  #vector-4,
  #vector-5,
  #vector-8,
  #vector-31,
  #vector-23,
  #vector-24,
  #vector-26,
  #vector-27,
  #vector-29,
  #vector-39,
  #vector-40,
  #vector-41,
  #vector-42,
  #vector-48,
  #vector-49,
  #vector-51,
  #vector-52,
  #vector-54,
  #vector-53,
  #vector-60,
  #vector-61,
  #vector-62 {
    opacity: 0.3;
  }

  #vector-6,
  #vector-26,
  #vector-36,
  #vector-16,
  #vector-19,
  #vector-18,
  #vector-22,
  #vector-10,
  #vector-15,
  #vector-17,
  #vector-18,
  #vector-67,
  #vector-66,
  #vector-59,
  #vector-60 {
    opacity: 0.4;
  }

  #vector-11,
  #vector-12,
  #vector-15,
  #vector-17,
  #vector-13,
  #vector-14,
  #vector-65,
  #vector-58,
  #vector-57,
  #vector-56,
  #vector-55 {
    opacity: 0.5;
  }
}

.mosaique {
  svg {
    path {
      transform-box: fill-box;
      transform-origin: center;
      opacity: 1;
    }

    #vector-1 {
      transform: translateX(514px) translateY(387px) rotate(-90deg);
      opacity: 1;
    }

    #vector-3 {
      transform: translateX(428px) translateY(-99px) rotate(-93deg);
      opacity: 1;
    }

    #vector-4 {
      transform: translateX(300px) translateY(-14px) rotate(0deg);
      opacity: 1;
    }

    #vector-5 {
      transform: translateX(368px) translateY(-63px) rotate(8deg);
      opacity: 1;
    }

    #vector-6 {
      transform: translateX(412px) translateY(10px) rotate(-45deg);
      opacity: 1;
    }

    #vector-8 {
      transform: translateX(294px) translateY(-352px) rotate(-16deg);
      opacity: 1;
    }

    #vector-9 {
      transform: translateX(300px) translateY(-155px) rotate(0deg);
      opacity: 1;
    }

    #vector-10 {
      transform: translateX(425px) translateY(-245px) rotate(-50deg);
      opacity: 1;
    }

    #vector-11 {
      transform: translateX(300px) translateY(-185px) rotate(0deg);
      opacity: 1;
    }

    #vector-12 {
      transform: translateX(354px) translateY(-181px) rotate(-15deg);
      opacity: 1;
    }

    #vector-13 {
      transform: translateX(299px) translateY(-225px) rotate(0deg);
      opacity: 1;
    }

    #vector-14 {
      transform: translateX(303px) translateY(-585px) rotate(45deg);
      opacity: 1;
    }

    #vector-15 {
      transform: translateX(412px) translateY(-465px) rotate(34deg);
      opacity: 1;
    }

    #vector-16 {
      transform: translateX(594px) translateY(-288px) rotate(21deg);
      opacity: 1;
    }

    #vector-17 {
      transform: translateX(408px) translateY(-344px) rotate(21deg);
      opacity: 1;
    }

    #vector-18 {
      transform: translateX(402px) translateY(-326px) rotate(18deg);
      opacity: 1;
    }

    #vector-19 {
      transform: translateX(405px) translateY(-445px) rotate(71deg);
      opacity: 1;
    }

    #vector-20 {
      transform: translateX(405px) translateY(-445px) rotate(71deg);
      opacity: 1;
    }

    #vector-21 {
      transform: translateX(282px) translateY(-58px) rotate(-11deg);
      opacity: 1;
    }

    #vector-22 {
      transform: translateX(564px) translateY(-430px) rotate(62deg);
      opacity: 1;
    }

    #vector-23 {
      transform: translateX(564px) translateY(-430px) rotate(62deg);
      opacity: 1;
    }

    #vector-24 {
      transform: translateX(125px) translateY(-222px) rotate(0deg);
      opacity: 1;
    }

    #vector-26 {
      transform: translateX(625px) translateY(59px) rotate(112deg);
      opacity: 1;
    }

    #vector-27 {
      transform: translateX(589px) translateY(-126px) rotate(130deg);
      opacity: 1;
    }

    #vector-28 {
      transform: translateX(342px) translateY(-26px) rotate(56deg);
      opacity: 1;
    }

    #vector-29 {
      transform: translateX(442px) translateY(-214px) rotate(56deg);
      opacity: 1;
    }

    #vector-30 {
      transform: translateX(449px) translateY(-85px) rotate(-11deg);
      opacity: 1;
    }

    #vector-31 {
      transform: translateX(283px) translateY(-45px) rotate(1deg);
      opacity: 1;
    }

    #vector-34 {
      transform: translateX(300px) translateY(19px) rotate(0deg);
      opacity: 1;
    }

    #vector-35 {
      transform: translateX(300px) translateY(20px) rotate(0deg);
      opacity: 1;
    }

    #vector-36 {
      transform: translateX(345px) translateY(-110px) rotate(-6deg);
      opacity: 1;
    }

    #vector-39 {
      transform: translateX(418px) translateY(-83px) rotate(-41deg);
      opacity: 1;
    }

    #vector-40 {
      transform: translateX(221px) translateY(-93px) rotate(-52deg);
      opacity: 1;
    }

    #vector-41 {
      transform: translateX(202px) translateY(-74px) rotate(61deg);
      opacity: 1;
    }

    #vector-42 {
      transform: translateX(167px) translateY(-127px) rotate(86deg);
      opacity: 1;
    }

    #vector-43 {
      transform: translateX(150px) translateY(-162px) rotate(19deg);
      opacity: 1;
    }

    #vector-44 {
      transform: translateX(393px) translateY(0px) rotate(110deg);
      opacity: 1;
    }

    #vector-45 {
      transform: translateX(258px) translateY(-167px) rotate(99deg);
      opacity: 1;
    }

    #vector-46 {
      transform: translateX(493px) translateY(-158px) rotate(86deg);
      opacity: 1;
    }

    #vector-47 {
      transform: translateX(222px) translateY(0px) rotate(-19deg);
      opacity: 1;
    }

    #vector-48 {
      transform: translateX(390px) translateY(-487px) rotate(-39deg);
      opacity: 1;
    }

    #vector-49 {
      transform: translateX(459px) translateY(-194px) rotate(-15deg);
      opacity: 1;
    }

    #vector-50 {
      transform: translateX(166px) translateY(-191px) rotate(-4deg);
      opacity: 1;
    }

    #vector-51 {
      transform: translateX(166px) translateY(-191px) rotate(-4deg);
      opacity: 1;
    }

    #vector-52 {
      transform: translateX(419px) translateY(-263px) rotate(87deg);
      opacity: 1;
    }

    #vector-53 {
      transform: translateX(195px) translateY(-323px) rotate(99deg);
      opacity: 1;
    }

    #vector-54 {
      transform: translateX(64px) translateY(-189px) rotate(70deg);
      opacity: 1;
    }

    #vector-55 {
      transform: translateX(-526px) translateY(392px) rotate(0deg);
      opacity: 1;
    }

    #vector-56 {
      transform: translateX(-297px) translateY(225px) rotate(0deg);
      opacity: 1;
    }

    #vector-57 {
      transform: translateX(-528px) translateY(183px) rotate(0deg);
      opacity: 1;
    }

    #vector-58 {
      transform: translateX(-297px) translateY(195px) rotate(0deg);
      opacity: 1;
    }

    #vector-59 {
      transform: translateX(-297px) translateY(195px) rotate(0deg);
      opacity: 1;
    }

    #vector-60 {
      transform: translateX(-508px) translateY(422px) rotate(9deg);
      opacity: 1;
    }

    #vector-61 {
      transform: translateX(-415px) translateY(398px) rotate(29deg);
      opacity: 1;
    }

    #vector-62 {
      transform: translateX(-298px) translateY(108px) rotate(0deg);
      opacity: 1;
    }

    #vector-63 {
      transform: translateX(-236px) translateY(160px) rotate(221deg);
      opacity: 1;
    }

    #vector-64 {
      transform: translateX(-287px) translateY(272px) rotate(206deg);
      opacity: 1;
    }

    #vector-65 {
      transform: translateX(-363px) translateY(212px) rotate(206deg);
      opacity: 1;
    }

    #vector-66 {
      transform: translateX(-256px) translateY(237px) rotate(206deg);
      opacity: 1;
    }

    #vector-67 {
      transform: translateX(-440px) translateY(392px) rotate(148deg);
      opacity: 1;
    }

    #vector-68 {
      transform: translateX(-189px) translateY(226px) rotate(0deg);
      opacity: 1;
    }

    #vector-69 {
      transform: translateX(-189px) translateY(555px) rotate(0deg);
      opacity: 1;
    }

    #vector-70 {
      transform: translateX(-486px) translateY(234px) rotate(89deg);
      opacity: 1;
    }

    #vector-71 {
      transform: translateX(-154px) translateY(252px) rotate(95deg);
      opacity: 1;
    }

    #vector-72 {
      transform: translateX(-260px) translateY(221px) rotate(-13deg);
      opacity: 1;
    }

    #vector-73 {
      transform: translateX(-319px) translateY(341px) rotate(-27deg);
      opacity: 1;
    }

    #vector-74 {
      transform: translateX(-294px) translateY(211px) rotate(0deg);
      opacity: 1;
    }

    #vector-75 {
      transform: translateX(-449px) translateY(380px) rotate(3deg);
      opacity: 1;
    }

    #vector-76 {
      transform: translateX(-241px) translateY(165px) rotate(96deg);
      opacity: 1;
    }

    #vector-77 {
      transform: translateX(-424px) translateY(263px) rotate(-336deg);
      opacity: 1;
    }

    #vector-78 {
      transform: translateX(-363px) translateY(334px) rotate(-336deg);
      opacity: 1;
    }

    #vector-79 {
      transform: translateX(-363px) translateY(334px) rotate(-336deg);
      opacity: 1;
    }

    #vector-80 {
      transform: translateX(-225px) translateY(136px) rotate(-36deg);
      opacity: 1;
    }

    #vector-81 {
      transform: translateX(-349px) translateY(336px) rotate(-41deg);
      opacity: 1;
    }

    #vector-82 {
      transform: translateX(-383px) translateY(87px) rotate(133deg);
      opacity: 1;
    }

    #vector-83 {
      transform: translateX(-474px) translateY(161px) rotate(49deg);
      opacity: 1;
    }

    #vector-84 {
      transform: translateX(-491px) translateY(-263px) rotate(123deg);
      opacity: 1;
    }
  }
}

// ABOUT
.top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    font-family: "Univers";
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    color: #fff;
    font-size: 5rem;
    margin: 5% 0% 0% 10%;
  }

  p {
    font-size: 1em;
    margin: 0% 25% 0% 10%;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-style: "regular";
    font-weight: 400;
    text-align: justify;
  }
}

// SKILLS
.bottom-left {
  padding: 0% 5% 20% 20%;
  display: grid;
  grid-template-columns: 33% 33% 33%;

  .skills-title {
    display: flex;
    margin-left: -5px;

    h2 {
      font-size: 1.3em;
      color: var(--color-dark);
      margin: 2px;
    }
  }

  small {
    font-size: 11px;
    opacity: 0.7;
  }

  ul {
    li {
      color: var(--color-dark);
      position: relative;
      margin-top: 10px;
      list-style-type: none;

      p {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 14px;
        color: $grey-lighter;
        font-weight: 700;
      }
    }
  }

  .languages {
    grid-column: 1;

    svg {
      padding: auto;
      width: 30px;
      height: 30px;
    }
  }

  .soft-skills {
    grid-column: 2;

    svg {
      padding: 5px;
      width: auto;
      height: 35px;
      margin-top: -8px;
    }
  }

  .technology {
    grid-column: 3;

    svg {
      padding: 5px;
      width: auto;
      height: 32px;
      margin-top: -8px;
    }

    p {
      font-size: 12px;
      margin: 5px 0;
      color: grey;

      .bolder {
        color: #000;
      }
    }
  }
}

//TIMELINE
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

.time-line {
  height: 100%;
  width: 100%;
  position: relative;

  ul {
    position: relative;
    position: absolute;
    display: block;
    top: 10%;
    left: -30%;
    width: auto;
    height: 150%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;
    padding: 10px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    li {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 15px;
      transform: rotate(90deg);
      width: 200px;
      height: 200px;
      margin: 20px;
      border-top: 2px solid $dark-purple;

      &::after {
        content: "";
        position: absolute;
        top: -6px;
        right: -17px;
        height: 10px;
        width: 10px;
        background: var(--color-dark);
        transition: 300ms ease-in;
      }

      &:first-child::before {
        content: "";
        position: absolute;
        top: -6px;
        left: -17px;
        height: 10px;
        width: 10px;
        background: var(--color-dark);
        transition: 300ms ease-in;
      }

      a {
        font-family: 'Roboto', sans-serif;
        font-size: 0.7em;
        text-decoration: none;
        list-style-type: none;
        color: var(--color-dark);
        padding: 5px;
        text-transform: uppercase;
        font-weight: 700;
      }

      .text-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(10px);
        height: 150px;
        width: 150px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 2%;

        .black-filter {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          box-shadow: 3px 3px 5px lightgrey;
          background: rgba(white, .4);
          border-top: 3px solid var(--color-dark);

          h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            text-align: center;
            color: #333;
            margin-bottom: 10px;
          }

          p {
            font-family: 'Roboto', sans-serif;
            color: #333;
            font-size: 12px;
            font-style: italic;
            opacity: 1;
            margin: 0;
          }
        }
      }

      .date-wrapper {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8em;
        color: var(--color-dark);
        width: 100%;
        position: absolute;
        left: 55%;
        transform: translateX(-30%) translateY(-20px);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
      }

      &:hover {
        a {
          color: $grey-light;
          background-color: var(--color-dark);
        }

        .text-wrapper {
          visibility: visible;
          opacity: 1;
          transform: translateX(-50%) translateY(40px);
        }

        .date-wrapper {
          width: 100%;
          visibility: visible;
          opacity: 1;
          transform: translateX(-30%) translateY(-40px);
        }

        &::after {
          background: var(--color-flash);
          transform: rotate(45deg);
        }

        &:first-child::before {
          background: var(--color-flash);
          transform: rotate(45deg);
        }
      }
    }
  }
}

// PROJECTS
.bottom-right {
  position: relative;


  .owl-carousel {

    &.owl-loaded {
      display: grid;
    }

    .owl-dots {
      display: none;
    }


    .owl-nav {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 100%;

      button {
        position: absolute;
      }

      .owl-prev {
        left: 5%;

        .fa-angle-left {
          font-size: 30px;
          color: var(--color-dark);

          &:hover {
            color: var(--color-flash);
          }
        }
      }

      .owl-next {
        right: 5%;

        .fa-angle-right {
          font-size: 30px;
          color: var(--color-dark);

          &:hover {
            color: var(--color-flash);
          }
        }
      }
    }
  }

  .item-wrapper {
    width: 70%;
    height: 40vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: transform 150ms ease-in;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);

    .item {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      filter: grayscale(0.2);
      transition: transform 5s ease;

      .content-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: scaleY(0);
        transition: transform 200ms ease-in;
        background: rgba(0, 0, 0, 0.8);

        h2 {
          padding: 3px;
          font-size: 1.5em;
          color: var(--color-flash);
          text-align: center;
          margin-bottom: 50px;
        }

        p {
          font-size: 1.1em;
          padding: 0 20px;
          color: $grey-lighter;
        }

        .icons {
          height: 40%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: stretch;
          padding-bottom: 3px;

          img {
            width: 10%;
            height: auto;
          }
        }

        .icons-links {
          position: absolute;
          bottom: 0;
          right: 0;
          right: 0;
        }
      }


      &:hover {
        .content-wrapper {
          transform: scaleY(1);
        }
      }
    }
  }
}

// @keyframes spinsvg {

//   from {
//     transform: rotateY(0deg);
//   }

//   to {
//     transform: rotateY(360deg);

//   }
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}