@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: "normal";
  src: url("../fonts/Raleway/Raleway-normal.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: "italic";
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: "normal";
  src: url("../fonts/Lato/Lato-normal.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: "italic";
  src: url("../fonts/Lato/Lato-Italic.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: "italic";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf"); }

@font-face {
  font-family: "Cotoris";
  font-weight: 400;
  font-style: "normal";
  src: url("../fonts/Cotoris.otf"); }

@font-face {
  font-family: "Cotoris";
  font-weight: 600;
  font-style: "normal";
  src: url("../fonts/CotorisBold.otf"); }

@font-face {
  font-family: "Cotoris";
  font-weight: 700;
  font-style: "bolder";
  src: url("../fonts/CotorisHeavy.otf"); }

@font-face {
  font-family: "Cotoris";
  font-weight: 400;
  font-style: "italic";
  src: url("../fonts/CotorisItalic.otf"); }

@font-face {
  font-family: "Univers";
  font-weight: 400;
  font-style: "normal";
  src: url("../fonts/univers_ssv/UniversLTStd.otf"); }

@font-face {
  font-family: "Univers";
  font-weight: 600;
  font-style: "normal";
  src: url("../fonts/univers_ssv/UniversBlack.ttf"); }

@font-face {
  font-family: "Univers";
  font-weight: 900;
  font-style: "normal";
  src: url("../fonts/univers_ssv/UniversBlack.ttf"); }

@font-face {
  font-family: "Univers";
  font-weight: 700;
  font-style: "italic";
  src: url("../fonts/univers_ssv/UniversLTStd-BoldObl.otf"); }

@font-face {
  font-family: "Burgess";
  font-weight: 400;
  font-style: "normal";
  src: url("../fonts/Burgess/Burgess.ttf"); }

@font-face {
  font-family: "Burgess";
  font-weight: 700;
  font-style: "normal";
  src: url("../fonts/Burgess/BurgessBold.ttf"); }

@font-face {
  font-family: "Burgess";
  font-weight: 400;
  font-style: "italic";
  src: url("../fonts/Burgess/BurgessItalic.ttf"); }

:root {
  --color-body: #eee;
  --color-lighter: #496d7e;
  --color-light: #045267;
  --color-normal: #275979;
  --color-regular: #368099;
  --color-dark: #7fadbd;
  --color-darker: #3b7481;
  --color-flash: #b2c9e4; }

main {
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.top-left {
  grid-column: 1;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%; }

.top-right {
  grid-column: 2;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%; }

.bottom-left {
  grid-column: 1;
  grid-row: 2;
  max-height: 100%;
  max-width: 100%; }

.bottom-right {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  max-height: 100%;
  max-width: 100%; }
  .bottom-right .bottom-right-top-left {
    grid-column: 1;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%; }
  .bottom-right .bottom-right-top-right {
    grid-column: 2;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%; }
  .bottom-right .bottom-right-bottom-left {
    grid-column: 1;
    grid-row: 2;
    max-height: 100%;
    max-width: 100%; }
  .bottom-right .bottom-right-bottom-right {
    grid-column: 2;
    grid-row: 2;
    max-height: 100%;
    max-width: 100%; }

@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    position: block; }
  .top-left {
    grid-column: 1;
    grid-row: 1; }
  .top-right {
    grid-column: 1;
    grid-row: 2; }
  .bottom-left {
    grid-column: 1;
    grid-row: 3; }
  .bottom-right {
    grid-column: 1;
    grid-row: 4; } }

.background svg {
  width: 100vw;
  height: 100vh; }
  .background svg path {
    opacity: 1;
    transform-origin: center center;
    transition: all 700ms ease-out; }

.container {
  position: relative;
  height: 100%;
  width: 100%; }
  .container .firstname {
    position: absolute;
    top: 5%;
    bottom: 75%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%; }
  .container .lastname {
    position: absolute;
    bottom: -9%;
    top: 8 0%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5%; }
  .container .hover-letter {
    font-family: "Univers";
    letter-spacing: 5px;
    font-weight: 700;
    font-style: "regular";
    text-transform: uppercase;
    font-size: 20vh;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    color: var(--color-darker);
    transition: 50ms ease-in-out;
    user-select: none; }
    .container .hover-letter:hover {
      color: #fff;
      text-shadow: none; }
  .container .majuscule {
    font-size: 27vh;
    color: #fff;
    text-shadow: none; }
    .container .majuscule:hover {
      text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
      color: var(--color-darker); }
  .container .bigger {
    font-size: 50vh;
    margin-top: 25vh;
    margin-left: -4%; }
  .container #click-to-start {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    box-shadow: 10px 10px 14px rgba(128, 128, 128, 0.5);
    cursor: pointer;
    outline: double 15px white; }
    .container #click-to-start .click {
      position: absolute;
      font-family: "Kaushan Script", cursive;
      bottom: 0%;
      right: 3%;
      transform: rotate(-16deg);
      font-size: 1.2rem; }
  .container .icons-colors {
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 80%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .container .icons-colors .color-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #fff;
      margin-bottom: 10px;
      cursor: pointer; }
      .container .icons-colors .color-wrapper:hover .blue,
      .container .icons-colors .color-wrapper:hover .green,
      .container .icons-colors .color-wrapper:hover .ocre,
      .container .icons-colors .color-wrapper:hover .purple {
        transform: rotate(225deg); }
      .container .icons-colors .color-wrapper .blue,
      .container .icons-colors .color-wrapper .green,
      .container .icons-colors .color-wrapper .ocre,
      .container .icons-colors .color-wrapper .purple {
        height: 12px;
        width: 12px;
        border-radius: 0% 50% 50% 50%;
        transform: rotate(45deg);
        transition: 500ms ease-in-out; }
      .container .icons-colors .color-wrapper .blue {
        background: #5b7dac; }
      .container .icons-colors .color-wrapper .green {
        background: #419f59; }
      .container .icons-colors .color-wrapper .ocre {
        background: #ffb939; }
      .container .icons-colors .color-wrapper .purple {
        background: #66669a; }
  .container .icons-links {
    position: absolute;
    right: 20%;
    left: 80%;
    top: 25%;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .container .icons-links .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #fff;
      margin-bottom: 10px;
      transition: 400ms ease-in-out; }
      .container .icons-links .icon-wrapper .fa-facebook-f,
      .container .icons-links .icon-wrapper .fa-linkedin-in,
      .container .icons-links .icon-wrapper .fa-github,
      .container .icons-links .icon-wrapper .fa-at {
        color: var(--color-darker);
        align-items: center; }
      .container .icons-links .icon-wrapper:hover {
        background-color: var(--color-darker); }
        .container .icons-links .icon-wrapper:hover .fa-facebook-f,
        .container .icons-links .icon-wrapper:hover .fa-linkedin-in,
        .container .icons-links .icon-wrapper:hover .fa-github,
        .container .icons-links .icon-wrapper:hover .fa-at {
          color: #fff; }

.mosaique {
  background: var(--color-darker); }

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.background + main {
  display: grid;
  opacity: 1;
  transition: opacity 1s linear 1s;
  visibility: visible; }
  .background + main .switch-languages {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    widows: 200px;
    z-index: 999; }
    .background + main .switch-languages #to-english,
    .background + main .switch-languages #to-french,
    .background + main .switch-languages #click-to-back {
      text-transform: uppercase;
      margin-right: 20px;
      font-weight: 700;
      color: #333;
      cursor: pointer; }
      .background + main .switch-languages #to-english:hover,
      .background + main .switch-languages #to-french:hover,
      .background + main .switch-languages #click-to-back:hover {
        text-decoration: underline; }

.background.mosaique + main {
  opacity: 0;
  visibility: hidden; }

.background.mosaique + main + .container {
  display: block; }

.background + main + .container {
  display: none; }

svg #vector-3,
svg #vector-35,
svg #vector-79,
svg #vector-71,
svg #vector-77,
svg #vector-80,
svg #vector-83,
svg #vector-84,
svg #vector-63,
svg #vector-64,
svg #vector-76,
svg #vector-78,
svg #vector-75,
svg #vector-73 {
  opacity: 0.1; }

svg #vector-28,
svg #vector-34,
svg #vector-46,
svg #vector-44,
svg #vector-43,
svg #vector-69,
svg #vector-68,
svg #vector-72,
svg #vector-74 {
  opacity: 0.2; }

svg #vector-4,
svg #vector-5,
svg #vector-8,
svg #vector-31,
svg #vector-23,
svg #vector-24,
svg #vector-26,
svg #vector-27,
svg #vector-29,
svg #vector-39,
svg #vector-40,
svg #vector-41,
svg #vector-42,
svg #vector-48,
svg #vector-49,
svg #vector-51,
svg #vector-52,
svg #vector-54,
svg #vector-53,
svg #vector-60,
svg #vector-61,
svg #vector-62 {
  opacity: 0.3; }

svg #vector-6,
svg #vector-26,
svg #vector-36,
svg #vector-16,
svg #vector-19,
svg #vector-18,
svg #vector-22,
svg #vector-10,
svg #vector-15,
svg #vector-17,
svg #vector-18,
svg #vector-67,
svg #vector-66,
svg #vector-59,
svg #vector-60 {
  opacity: 0.4; }

svg #vector-11,
svg #vector-12,
svg #vector-15,
svg #vector-17,
svg #vector-13,
svg #vector-14,
svg #vector-65,
svg #vector-58,
svg #vector-57,
svg #vector-56,
svg #vector-55 {
  opacity: 0.5; }

svg #vector-85 {
  opacity: 0; }

.mosaique svg path {
  transform-box: fill-box;
  transform-origin: center;
  opacity: 1; }

.mosaique svg #vector-1 {
  transform: translateX(514px) translateY(387px) rotate(-90deg);
  opacity: 1; }

.mosaique svg #vector-3 {
  transform: translateX(428px) translateY(-99px) rotate(-93deg);
  opacity: 1; }

.mosaique svg #vector-4 {
  transform: translateX(300px) translateY(-14px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-5 {
  transform: translateX(368px) translateY(-63px) rotate(8deg);
  opacity: 1; }

.mosaique svg #vector-6 {
  transform: translateX(412px) translateY(10px) rotate(-45deg);
  opacity: 1; }

.mosaique svg #vector-8 {
  transform: translateX(294px) translateY(-352px) rotate(-16deg);
  opacity: 1; }

.mosaique svg #vector-9 {
  transform: translateX(300px) translateY(-155px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-10 {
  transform: translateX(425px) translateY(-245px) rotate(-50deg);
  opacity: 1; }

.mosaique svg #vector-11 {
  transform: translateX(300px) translateY(-185px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-12 {
  transform: translateX(354px) translateY(-181px) rotate(-15deg);
  opacity: 1; }

.mosaique svg #vector-13 {
  transform: translateX(299px) translateY(-225px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-14 {
  transform: translateX(303px) translateY(-585px) rotate(45deg);
  opacity: 1; }

.mosaique svg #vector-15 {
  transform: translateX(412px) translateY(-465px) rotate(34deg);
  opacity: 1; }

.mosaique svg #vector-16 {
  transform: translateX(594px) translateY(-288px) rotate(21deg);
  opacity: 1; }

.mosaique svg #vector-17 {
  transform: translateX(408px) translateY(-344px) rotate(21deg);
  opacity: 1; }

.mosaique svg #vector-18 {
  transform: translateX(402px) translateY(-326px) rotate(18deg);
  opacity: 1; }

.mosaique svg #vector-19 {
  transform: translateX(405px) translateY(-445px) rotate(71deg);
  opacity: 1; }

.mosaique svg #vector-20 {
  transform: translateX(405px) translateY(-445px) rotate(71deg);
  opacity: 1; }

.mosaique svg #vector-21 {
  transform: translateX(282px) translateY(-58px) rotate(-11deg);
  opacity: 1; }

.mosaique svg #vector-22 {
  transform: translateX(564px) translateY(-430px) rotate(62deg);
  opacity: 1; }

.mosaique svg #vector-23 {
  transform: translateX(564px) translateY(-430px) rotate(62deg);
  opacity: 1; }

.mosaique svg #vector-24 {
  transform: translateX(125px) translateY(-222px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-26 {
  transform: translateX(625px) translateY(59px) rotate(112deg);
  opacity: 1; }

.mosaique svg #vector-27 {
  transform: translateX(589px) translateY(-126px) rotate(130deg);
  opacity: 1; }

.mosaique svg #vector-28 {
  transform: translateX(342px) translateY(-26px) rotate(56deg);
  opacity: 1; }

.mosaique svg #vector-29 {
  transform: translateX(442px) translateY(-214px) rotate(56deg);
  opacity: 1; }

.mosaique svg #vector-30 {
  transform: translateX(449px) translateY(-85px) rotate(-11deg);
  opacity: 1; }

.mosaique svg #vector-31 {
  transform: translateX(283px) translateY(-45px) rotate(1deg);
  opacity: 1; }

.mosaique svg #vector-34 {
  transform: translateX(300px) translateY(19px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-35 {
  transform: translateX(300px) translateY(20px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-36 {
  transform: translateX(345px) translateY(-110px) rotate(-6deg);
  opacity: 1; }

.mosaique svg #vector-39 {
  transform: translateX(418px) translateY(-83px) rotate(-41deg);
  opacity: 1; }

.mosaique svg #vector-40 {
  transform: translateX(221px) translateY(-93px) rotate(-52deg);
  opacity: 1; }

.mosaique svg #vector-41 {
  transform: translateX(202px) translateY(-74px) rotate(61deg);
  opacity: 1; }

.mosaique svg #vector-42 {
  transform: translateX(167px) translateY(-127px) rotate(86deg);
  opacity: 1; }

.mosaique svg #vector-43 {
  transform: translateX(150px) translateY(-162px) rotate(19deg);
  opacity: 1; }

.mosaique svg #vector-44 {
  transform: translateX(393px) translateY(0px) rotate(110deg);
  opacity: 1; }

.mosaique svg #vector-45 {
  transform: translateX(258px) translateY(-167px) rotate(99deg);
  opacity: 1; }

.mosaique svg #vector-46 {
  transform: translateX(493px) translateY(-158px) rotate(86deg);
  opacity: 1; }

.mosaique svg #vector-47 {
  transform: translateX(222px) translateY(0px) rotate(-19deg);
  opacity: 1; }

.mosaique svg #vector-48 {
  transform: translateX(390px) translateY(-487px) rotate(-39deg);
  opacity: 1; }

.mosaique svg #vector-49 {
  transform: translateX(459px) translateY(-194px) rotate(-15deg);
  opacity: 1; }

.mosaique svg #vector-50 {
  transform: translateX(166px) translateY(-191px) rotate(-4deg);
  opacity: 1; }

.mosaique svg #vector-51 {
  transform: translateX(166px) translateY(-191px) rotate(-4deg);
  opacity: 1; }

.mosaique svg #vector-52 {
  transform: translateX(419px) translateY(-263px) rotate(87deg);
  opacity: 1; }

.mosaique svg #vector-53 {
  transform: translateX(195px) translateY(-323px) rotate(99deg);
  opacity: 1; }

.mosaique svg #vector-54 {
  transform: translateX(64px) translateY(-189px) rotate(70deg);
  opacity: 1; }

.mosaique svg #vector-55 {
  transform: translateX(-526px) translateY(392px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-56 {
  transform: translateX(-297px) translateY(225px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-57 {
  transform: translateX(-528px) translateY(183px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-58 {
  transform: translateX(-297px) translateY(195px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-59 {
  transform: translateX(-297px) translateY(195px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-60 {
  transform: translateX(-508px) translateY(422px) rotate(9deg);
  opacity: 1; }

.mosaique svg #vector-61 {
  transform: translateX(-415px) translateY(398px) rotate(29deg);
  opacity: 1; }

.mosaique svg #vector-62 {
  transform: translateX(-298px) translateY(108px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-63 {
  transform: translateX(-236px) translateY(160px) rotate(221deg);
  opacity: 1; }

.mosaique svg #vector-64 {
  transform: translateX(-287px) translateY(272px) rotate(206deg);
  opacity: 1; }

.mosaique svg #vector-65 {
  transform: translateX(-363px) translateY(212px) rotate(206deg);
  opacity: 1; }

.mosaique svg #vector-66 {
  transform: translateX(-256px) translateY(237px) rotate(206deg);
  opacity: 1; }

.mosaique svg #vector-67 {
  transform: translateX(-440px) translateY(392px) rotate(148deg);
  opacity: 1; }

.mosaique svg #vector-68 {
  transform: translateX(-189px) translateY(226px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-69 {
  transform: translateX(-189px) translateY(555px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-70 {
  transform: translateX(-486px) translateY(234px) rotate(89deg);
  opacity: 1; }

.mosaique svg #vector-71 {
  transform: translateX(-154px) translateY(252px) rotate(95deg);
  opacity: 1; }

.mosaique svg #vector-72 {
  transform: translateX(-260px) translateY(221px) rotate(-13deg);
  opacity: 1; }

.mosaique svg #vector-73 {
  transform: translateX(-319px) translateY(341px) rotate(-27deg);
  opacity: 1; }

.mosaique svg #vector-74 {
  transform: translateX(-294px) translateY(211px) rotate(0deg);
  opacity: 1; }

.mosaique svg #vector-75 {
  transform: translateX(-449px) translateY(380px) rotate(3deg);
  opacity: 1; }

.mosaique svg #vector-76 {
  transform: translateX(-241px) translateY(165px) rotate(96deg);
  opacity: 1; }

.mosaique svg #vector-77 {
  transform: translateX(-424px) translateY(263px) rotate(-336deg);
  opacity: 1; }

.mosaique svg #vector-78 {
  transform: translateX(-363px) translateY(334px) rotate(-336deg);
  opacity: 1; }

.mosaique svg #vector-79 {
  transform: translateX(-363px) translateY(334px) rotate(-336deg);
  opacity: 1; }

.mosaique svg #vector-80 {
  transform: translateX(-225px) translateY(136px) rotate(-36deg);
  opacity: 1; }

.mosaique svg #vector-81 {
  transform: translateX(-349px) translateY(336px) rotate(-41deg);
  opacity: 1; }

.mosaique svg #vector-82 {
  transform: translateX(-383px) translateY(87px) rotate(133deg);
  opacity: 1; }

.mosaique svg #vector-83 {
  transform: translateX(-474px) translateY(161px) rotate(49deg);
  opacity: 1; }

.mosaique svg #vector-84 {
  transform: translateX(-491px) translateY(-263px) rotate(123deg);
  opacity: 1; }

.mosaique svg #vector-85 {
  transform: translateY(283px) translateX(-125px) rotate(71deg);
  opacity: 1; }

@media only screen and (max-width: 768px) {
  .firstname .hover-letter {
    font-size: 10vh; }
  .firstname .bigger {
    font-size: 20vh !important;
    margin-top: 0;
    margin-left: 0; }
  .lastname {
    bottom: -2% !important;
    right: 0; }
    .lastname .hover-letter {
      font-size: 10vh; }
    .lastname .majuscule {
      font-size: 20vh; }
  .container .icons-colors {
    left: 5%; }
  .container .icons-links {
    right: 5%; }
  .container .icons-colors,
  .container .icons-links {
    justify-content: center; }
  .background + main .switch-languages {
    top: 10px;
    right: 10px; }
  .background + main .switch-languages #to-english,
  .background + main .switch-languages #to-french,
  .background + main .switch-languages #click-to-back {
    margin-right: 10px;
    font-size: 12px; } }

@media only screen and (max-width: 414px) {
  .background svg path {
    transition: all 350ms ease-out; }
  .background + main {
    transition: opacity 600ms linear 600ms; }
  .firstname .hover-letter,
  .container .hover-letter {
    font-size: 6vh;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; }
  .firstname .bigger {
    font-size: 15vh; }
  .lastname {
    bottom: 4% !important;
    margin-right: 5%; }
  .lastname .hover-letter {
    font-size: 6vh; }
  .lastname .majuscule {
    font-size: 15vh; } }

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .top-left .text-wrapper {
    position: relative; }
    .top-left .text-wrapper h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-style: "regular";
      color: var(--color-darker);
      text-transform: uppercase;
      font-weight: 800;
      font-size: 5rem;
      margin: 5% 0% 0% 10%;
      padding-left: 30px;
      user-select: none; }
    .top-left .text-wrapper p {
      font-size: 1em;
      margin: 0 10%;
      color: #333;
      font-family: 'Open Sans Condensed', sans-serif;
      font-style: "regular";
      font-weight: 700;
      text-align: justify;
      padding: 0 0px 40px 30px;
      letter-spacing: 1px;
      user-select: none; }
  .top-left .underline {
    color: #fff;
    background: var(--color-darker);
    padding: 0 5px; }
  .top-left .icons-contact-wrapper {
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 0; }
    .top-left .icons-contact-wrapper .contact-details-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      background: #fff;
      transition: 200ms ease-in;
      border-radius: 50%;
      margin-left: 10px;
      box-shadow: 2px 2px 3px lightgrey;
      cursor: pointer; }
      .top-left .icons-contact-wrapper .contact-details-wrapper .fa-envelope,
      .top-left .icons-contact-wrapper .contact-details-wrapper .fa-at,
      .top-left .icons-contact-wrapper .contact-details-wrapper .fa-phone,
      .top-left .icons-contact-wrapper .contact-details-wrapper a {
        color: var(--color-darker);
        font-size: 15px; }
      .top-left .icons-contact-wrapper .contact-details-wrapper:hover {
        background: var(--color-darker); }
        .top-left .icons-contact-wrapper .contact-details-wrapper:hover .fa-envelope,
        .top-left .icons-contact-wrapper .contact-details-wrapper:hover .fa-at,
        .top-left .icons-contact-wrapper .contact-details-wrapper:hover .fa-phone {
          color: #fff; }
    .top-left .icons-contact-wrapper a {
      text-decoration: none;
      color: var(--color-darker);
      font-weight: 600; }
      .top-left .icons-contact-wrapper a:hover {
        color: #fff; }
  .top-left .mailto {
    display: none; }

@media only screen and (max-width: 768px) {
  .top-left .text-wrapper h1 {
    text-align: center;
    margin: 5% 0% 0% -5%; }
  #mail {
    display: none; }
  .mailto {
    display: block !important; }
  .top-left .text-wrapper h1 {
    font-size: 3em; }
  .top-left .text-wrapper p {
    background: none;
    font-size: 0.8em;
    padding: 10px 30px 30px 30px; }
  .top-left .icons-contact-wrapper {
    right: 11%;
    bottom: 8%; } }

@media only screen and (max-width: 414px) {
  .top-left .text-wrapper {
    margin-top: 2%; }
  .top-left .text-wrapper h1 {
    font-size: 2.2em;
    padding-left: 0;
    margin: 1% 0% 0% calc(5% + 5px);
    text-align: left; }
  .top-left .text-wrapper p {
    font-size: 0.8em;
    padding: 2px 5px 10px 5px;
    margin: 0 5%; }
  .top-left .icons-contact-wrapper {
    right: 8%;
    bottom: -10%; }
  .top-left .icons-contact-wrapper .contact-details-wrapper {
    height: 25px;
    width: 25px;
    font-size: 13px; }
  .top-left .icons-contact-wrapper .contact-details-wrapper .fa-at,
  .top-left .icons-contact-wrapper .contact-details-wrapper .fa-phone,
  .top-left .icons-contact-wrapper .contact-details-wrapper a {
    font-size: 13px; } }

@media only screen and (max-width: 375px) {
  .top-left .text-wrapper h1 {
    font-size: 2em; } }

@media only screen and (max-width: 375px) and (max-width: 340px) {
  .bottom-left {
    margin-top: -12%; }
  .top-left .text-wrapper p {
    font-size: 0.7em; } }

.english {
  display: none; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px; }

.time-line {
  height: 100%;
  width: 100%;
  position: relative; }
  .time-line ul {
    position: relative;
    position: absolute;
    display: block;
    top: 10%;
    left: -22%;
    width: auto;
    height: 140%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;
    padding: 10px;
    opacity: 0.8; }
    .time-line ul:hover {
      opacity: 1; }
    .time-line ul li {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 15px;
      transform: rotate(90deg);
      width: 200px;
      height: 200px;
      margin: 20px;
      border-top: 2px solid #1d0329;
      user-select: none; }
      .time-line ul li::after {
        content: "";
        position: absolute;
        top: -6px;
        right: -17px;
        height: 10px;
        width: 10px;
        background: var(--color-dark);
        transition: 300ms ease-in; }
      .time-line ul li:first-child::before {
        content: "";
        position: absolute;
        top: -6px;
        left: -17px;
        height: 10px;
        width: 10px;
        background: var(--color-dark);
        transition: 300ms ease-in; }
      .time-line ul li a {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 0.8em;
        text-decoration: none;
        list-style-type: none;
        color: var(--color-darker);
        padding: 5px;
        text-transform: uppercase;
        font-weight: 700; }
      .time-line ul li .text-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(10px);
        height: 150px;
        width: 150px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 2%;
        user-select: none; }
        .time-line ul li .text-wrapper .black-filter {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          box-shadow: 3px 3px 5px lightgrey;
          background: rgba(255, 255, 255, 0.4);
          border-top: 3px solid var(--color-dark);
          user-select: none; }
          .time-line ul li .text-wrapper .black-filter h2 {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: 13px;
            text-align: center;
            color: #333; }
          .time-line ul li .text-wrapper .black-filter p {
            font-family: "Open Sans Condensed", sans-serif;
            color: #333;
            font-size: 12px;
            font-style: italic;
            opacity: 1;
            margin: 0; }
      .time-line ul li .date-wrapper {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 0.9em;
        font-weight: 800;
        color: var(--color-darker);
        width: 100%;
        position: absolute;
        left: 61%;
        transform: translateX(-30%) translateY(-20px);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
        user-select: none; }
      .time-line ul li:hover a {
        color: #f0f0f0;
        background-color: var(--color-darker); }
      .time-line ul li:hover .text-wrapper {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(40px); }
      .time-line ul li:hover .date-wrapper {
        width: 100%;
        visibility: visible;
        opacity: 1;
        transform: translateX(-30%) translateY(-40px); }
      .time-line ul li:hover::after {
        background: var(--color-flash);
        transform: rotate(45deg); }
      .time-line ul li:hover:first-child::before {
        background: var(--color-flash);
        transform: rotate(45deg); }

@media only screen and (max-width: 768px) {
  .top-right .time-line {
    margin-top: -30px; }
    .top-right .time-line ul {
      height: 200%;
      left: -15%;
      top: 0;
      padding-right: 30px; }
      .top-right .time-line ul li .date-wrapper {
        opacity: 1;
        visibility: visible;
        transform: translateX(-30%) translateY(-50px); }
        .top-right .time-line ul li .date-wrapper:hover {
          display: none; }
      .top-right .time-line ul li .text-wrapper {
        height: 140px;
        width: 140px;
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(30px); }
        .top-right .time-line ul li .text-wrapper:hover {
          display: none; } }

@media only screen and (max-width: 414px) {
  .top-right .time-line {
    display: none;
    margin-top: -40px; }
  .top-right .time-line ul {
    left: -20%;
    padding-right: 15px;
    height: 175%; }
  .top-right .time-line ul li .date-wrapper {
    font-size: 0.6em;
    transform: translateX(-33%) translateY(-30px); }
  .time-line ul li {
    border-top: 1px solid #1d0329;
    width: 100px;
    height: 100px; }
    .time-line ul li:hover {
      display: none; }
  .time-line ul li a {
    font-size: 0.5em; }
  .time-line ul li:first-child::before {
    top: -3px;
    left: -9px;
    height: 5px;
    width: 5px; }
  .time-line ul li::after {
    top: -3px;
    right: -9px;
    height: 5px;
    width: 5px; }
  .top-right .time-line ul li .text-wrapper {
    transform: translateX(-50%) translateY(20px);
    height: 100px;
    width: 100px; }
  .time-line ul li .text-wrapper .black-filter h2 {
    font-size: 11px; }
  .time-line ul li .text-wrapper .black-filter p {
    font-size: 10px; }
  .time-line ul li .text-wrapper .black-filter {
    border-top: 2px solid var(--color-dark); } }

.bottom-left {
  padding: 0% 10% 10% calc(10% + 30px);
  display: grid;
  grid-template-columns: 30% 70%; }
  .bottom-left .skills-categories {
    grid-column: 1;
    box-shadow: 0px 3px 12px grey;
    border: 4px double var(--color-darker);
    border-right: none;
    user-select: none; }
    .bottom-left .skills-categories ul {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0; }
      .bottom-left .skills-categories ul li {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 1px;
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        background: var(--color-darker);
        cursor: pointer;
        transition: 300ms ease-in-out; }
        .bottom-left .skills-categories ul li:hover {
          background: #eee;
          color: var(--color-darker); }
  .bottom-left .skills-details {
    grid-column: 2;
    display: flex;
    align-items: center;
    background: #eee;
    border: 4px double var(--color-darker);
    border-left: none;
    box-shadow: 7px 7px 9px lightgrey;
    user-select: none; }
    .bottom-left .skills-details li {
      font-family: 'Open Sans Condensed', sans-serif;
      text-transform: uppercase;
      list-style-type: none; }
    .bottom-left .skills-details p {
      font-family: 'Open Sans Condensed', sans-serif;
      opacity: 0.9;
      font-size: 0.8em;
      margin: 5px 20px; }
      .bottom-left .skills-details p .bolder {
        font-weight: 600;
        color: #fff;
        background: var(--color-darker);
        padding: 1px 5px; }
  .bottom-left #technologies-content {
    position: relative;
    display: block; }
  .bottom-left #entrepreneurship-content {
    position: relative;
    display: none; }
    .bottom-left #entrepreneurship-content p {
      font-size: 0.9em; }
    .bottom-left #entrepreneurship-content h3 {
      font-family: 'Open Sans Condensed', sans-serif;
      text-transform: uppercase;
      font-size: 0.9em;
      color: #fff;
      background: var(--color-darker);
      width: 50%;
      padding-left: 5px;
      margin-bottom: 3px; }
      .bottom-left #entrepreneurship-content h3:hover {
        color: var(--color-darker);
        background: #eee; }
    .bottom-left #entrepreneurship-content li {
      font-size: 0.8em; }
  .bottom-left #languages-content {
    position: relative;
    display: none; }
    .bottom-left #languages-content p {
      font-size: 1em; }
    .bottom-left #languages-content li {
      font-size: 0.9em;
      padding-left: 5px;
      width: 35%;
      color: #fff;
      margin-top: 10px;
      background: var(--color-darker);
      font-weight: 700;
      border-radius: 2%;
      display: flex;
      justify-content: center; }
      .bottom-left #languages-content li:hover {
        color: var(--color-darker);
        background: #eee; }
  .bottom-left #softskills-content {
    position: relative;
    display: none; }
    .bottom-left #softskills-content p {
      font-size: 1em; }
    .bottom-left #softskills-content li {
      padding-left: 5px;
      width: 50%;
      color: #fff;
      margin-top: 20px;
      background: var(--color-darker);
      font-weight: 700;
      border-radius: 2%;
      display: flex;
      justify-content: center; }
      .bottom-left #softskills-content li:hover {
        color: var(--color-darker);
        background: #eee; }
  .bottom-left .wrapper-linkedin {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 300ms ease-in-out;
    cursor: pointer; }
    .bottom-left .wrapper-linkedin .fa-linkedin-in {
      font-size: 15px;
      color: var(--color-darker); }
    .bottom-left .wrapper-linkedin:hover {
      background: var(--color-darker); }
      .bottom-left .wrapper-linkedin:hover .fa-linkedin-in {
        color: #fff; }

@media only screen and (max-width: 768px) {
  .bottom-left {
    padding: 0% 15% 10% 15%; }
  .bottom-left .skills-categories ul li {
    font-size: 0.7em !important; }
  .bottom-left .skills-details li {
    font-size: 0.7em; }
  .bottom-left .skills-details p {
    font-size: 0.6em; }
  .bottom-left #entrepreneurship-content p {
    font-size: 0.7em !important; }
  .bottom-left #entrepreneurship-content h3 {
    font-size: 0.7em !important;
    width: 40%; }
  .bottom-left #entrepreneurship-content li {
    font-size: 0.6em !important; }
  .bottom-left #languages-content p {
    font-size: 0.7em !important; }
  .bottom-left #languages-content li {
    font-size: 0.7em !important;
    width: 40%;
    margin-top: 2px; }
  small {
    font-size: 0.6em; }
  .bottom-left #softskills-content p {
    font-size: 0.7em !important; }
  .bottom-left #softskills-content li {
    font-size: 0.7em !important;
    width: 40% !important; } }

@media only screen and (max-width: 414px) {
  .bottom-left {
    margin-top: -24%;
    padding: 0% 6% 10% 6%; }
  .bottom-left .skills-categories,
  .bottom-left .skills-details {
    height: 100%;
    box-shadow: none; }
  .bottom-left .skills-categories ul li {
    font-size: 0.7em !important; }
  .bottom-left .skills-details li,
  .bottom-left .skills-details p {
    font-size: 0.7em; }
  .bottom-left .skills-details p .bolder {
    padding: 0px 2px; }
  .bottom-left #entrepreneurship-content p,
  .bottom-left #entrepreneurship-content h3,
  .bottom-left #entrepreneurship-content li {
    font-size: 0.7em !important; }
  .bottom-left #entrepreneurship-content h3 {
    width: 60%; }
  .bottom-left #languages-content li {
    width: 40%; }
  .bottom-left #softskills-content li {
    width: 60% !important;
    margin-top: 10px; }
  .bottom-left .wrapper-linkedin {
    height: 20px;
    width: 20px; }
    .bottom-left .wrapper-linkedin .bottom-left .wrapper-linkedin .fa-linkedin-in {
      font-size: 10px; }
  .bottom-left .skills-details,
  .bottom-left .skills-categories {
    min-height: 225px; } }

@media only screen and (max-width: 375px) {
  .bottom-left {
    margin-top: -13%;
    z-index: 9999; }
  .bottom-left #entrepreneurship-content p,
  .bottom-left #entrepreneurship-content h3,
  .bottom-left #entrepreneurship-content li {
    font-size: 0.6em !important; } }

.bottom-right {
  position: relative; }
  .bottom-right .owl-carousel.owl-loaded {
    display: grid; }
  .bottom-right .owl-carousel .owl-dots {
    display: none; }
  .bottom-right .owl-carousel .owl-nav {
    top: 40%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%; }
    .bottom-right .owl-carousel .owl-nav button {
      position: absolute; }
      .bottom-right .owl-carousel .owl-nav button:focus {
        outline: none; }
    .bottom-right .owl-carousel .owl-nav .owl-prev {
      left: 8%; }
      .bottom-right .owl-carousel .owl-nav .owl-prev .fa-angle-left {
        font-size: 40px;
        color: var(--color-dark); }
        .bottom-right .owl-carousel .owl-nav .owl-prev .fa-angle-left:hover {
          color: var(--color-flash); }
    .bottom-right .owl-carousel .owl-nav .owl-next {
      right: 8%; }
      .bottom-right .owl-carousel .owl-nav .owl-next .fa-angle-right {
        font-size: 40px;
        color: var(--color-dark); }
        .bottom-right .owl-carousel .owl-nav .owl-next .fa-angle-right:hover {
          color: var(--color-flash); }
  .bottom-right .item-wrapper {
    width: 70%;
    height: 40vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: transform 150ms ease-in;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4); }
    .bottom-right .item-wrapper .item {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      filter: grayscale(0.2);
      transition: transform 5s ease; }
      .bottom-right .item-wrapper .item::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat; }
      .bottom-right .item-wrapper .item .content-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: scaleY(0);
        transition: transform 200ms ease-in;
        background: rgba(0, 0, 0, 0.8); }
        .bottom-right .item-wrapper .item .content-wrapper h2 {
          font-family: 'Open Sans Condensed', sans-serif;
          padding: 3px;
          font-size: 1.8em;
          color: var(--color-darker);
          text-align: center;
          margin-bottom: 20px; }
        .bottom-right .item-wrapper .item .content-wrapper p {
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 1.1em;
          padding: 0 20px;
          color: #eef5f8;
          font-weight: 700; }
        .bottom-right .item-wrapper .item .content-wrapper .icons {
          height: 10%;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: center;
          padding: 10px; }
          .bottom-right .item-wrapper .item .content-wrapper .icons img {
            width: 7%;
            height: auto; }
        .bottom-right .item-wrapper .item .content-wrapper .icons-links {
          font-family: 'Open Sans Condensed', sans-serif;
          position: absolute;
          bottom: 0;
          right: 0; }
      .bottom-right .item-wrapper .item:hover .content-wrapper {
        transform: scaleY(1); }

@media only screen and (max-width: 768px) {
  .bottom-right .item-wrapper {
    width: 50% !important;
    height: 20vh !important; }
  .bottom-right .owl-carousel .owl-nav .owl-prev {
    left: 15%; }
  .bottom-right .owl-carousel .owl-nav .owl-next {
    right: 15%; }
  .bottom-right .item-wrapper .item:hover .content-wrapper {
    display: none; } }

@media only screen and (max-width: 414px) {
  .bottom-right {
    padding-top: 0%; }
  .bottom-right .item-wrapper {
    width: 88% !important;
    height: 15vh !important; }
  .bottom-right .item-wrapper .robinwood::after {
    content: "Rob'in Wood - HTML5 Css3 Bootstrap"; }
  .bottom-right .item-wrapper .trouvkash::after {
    content: "Troufkash - React Leaflet MongoDB"; }
  .bottom-right .item-wrapper .composition::after {
    content: "Composition - WordPress"; }
  .bottom-right .item-wrapper .commonswillgrow::after {
    content: "Commons- React GraphQL WordPress"; }
  .bottom-right .item-wrapper .item::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0px white;
    letter-spacing: 3px;
    color: #fff; }
  .bottom-right .owl-carousel .owl-nav {
    top: 21%; }
  .bottom-right .owl-carousel .owl-nav .owl-prev {
    left: 0; }
  .bottom-right .owl-carousel .owl-nav .owl-next {
    right: 0; } }

@media only screen and (max-width: 375px) {
  .bottom-right {
    padding-top: 14%; }
  .bottom-right .item-wrapper {
    width: 88% !important;
    height: 10vh !important; }
  .bottom-right .owl-carousel .owl-nav {
    top: 11%; } }

@media only screen and (max-width: 335px) {
  .bottom-right {
    padding-top: 20%; } }

body {
  background-color: #eee;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; }
  body h1 {
    font-family: "Raleway"; }
  body h2,
  body a {
    font-family: 'Open Sans Condensed', sans-serif; }

.main {
  position: relative; }

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 600ms ease-in-out; }
  .modal .main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3px; }
    .modal .main-form .div-form {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(72, 72, 72, 0.4);
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      height: 100%; }
      .modal .main-form .div-form p {
        color: var(--color-darker);
        font-size: 1em;
        font-weight: 700;
        text-align: center; }
      .modal .main-form .div-form form {
        width: 60%; }
        .modal .main-form .div-form form label {
          font-family: 'Open Sans Condensed', sans-serif;
          color: var(--color-darker);
          font-weight: 700;
          margin-bottom: 5px;
          text-transform: uppercase;
          user-select: none; }
        .modal .main-form .div-form form input {
          font-family: 'Open Sans Condensed', sans-serif;
          height: 20px;
          border-radius: 2%;
          font-weight: 400;
          font-size: 18px; }
          .modal .main-form .div-form form input:focus {
            outline: none; }
        .modal .main-form .div-form form textarea:focus {
          outline: none; }
      .modal .main-form .div-form .button {
        text-align: center; }
        .modal .main-form .div-form .button button {
          border: none;
          text-align: center;
          background: var(--color-darker);
          color: #fff;
          transition: 300ms ease;
          width: 100px;
          height: 30px;
          margin: auto;
          text-transform: uppercase;
          font-weight: 800;
          border-radius: 3px;
          cursor: pointer; }
          .modal .main-form .div-form .button button:hover {
            background: #fff;
            color: var(--color-darker);
            transform: translateX(2px) translateY(-2px); }
  .modal .label-input {
    display: flex;
    flex-direction: column;
    padding: 20px 0; }
  .modal .message {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 15px;
    height: 150px; }
    .modal .message:focus {
      border: none; }
  .modal .close {
    position: absolute;
    top: 11%;
    right: 26%;
    cursor: pointer; }
    .modal .close .fa-times {
      font-size: 20px;
      color: var(--color-darker); }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
