@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: "regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: "italic";
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: "regular";
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: "italic";
  src: url("../fonts/Lato/Lato-Italic.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: "italic";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf"); }

body {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  font-family: "Lato";
  font-weight: 400;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; }
  body h1 {
    font-family: "Raleway"; }
  body h2,
  body a {
    font-family: "Lato"; }

.top-left {
  grid-column: 1;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%; }

.top-right {
  grid-column: 2;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%; }

.bottom-left {
  grid-column: 1;
  grid-row: 2;
  max-height: 100%;
  max-width: 100%; }

.bottom-right {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  max-height: 100%;
  max-width: 100%; }
  .bottom-right .bottom-right-top-left {
    grid-column: 1;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%; }
  .bottom-right .bottom-right-top-right {
    grid-column: 2;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%; }
  .bottom-right .bottom-right-bottom-left {
    grid-column: 1;
    grid-row: 2;
    max-height: 100%;
    max-width: 100%; }
  .bottom-right .bottom-right-bottom-right {
    grid-column: 2;
    grid-row: 2;
    max-height: 100%;
    max-width: 100%; }

:root {
  --color-lighter: #aeccdc;
  --color-light: #d4e7ef;
  --color-normal: #b3cede;
  --color-regular: #80a4c6;
  --color-dark: #5b7dac;
  --color-darker: #5b79ab;
  --color-flash: #68d7f4; }

.background svg {
  width: 100vw;
  height: 100vh; }
  .background svg path {
    transition: all 1s linear;
    transform-origin: center center;
    opacity: 1; }

.mosaique svg path {
  transform-box: fill-box;
  transform-origin: center;
  opacity: 1; }

.mosaique svg #vector-1 {
  transform: translateX(514px) translateY(387px) rotate(-90deg); }

.mosaique svg #vector-3 {
  transform: translateX(428px) translateY(-99px) rotate(-93deg); }

.mosaique svg #vector-4 {
  transform: translateX(300px) translateY(-14px) rotate(0deg); }

.mosaique svg #vector-5 {
  transform: translateX(368px) translateY(-63px) rotate(8deg); }

.mosaique svg #vector-6 {
  transform: translateX(412px) translateY(10px) rotate(-45deg); }

.mosaique svg #vector-8 {
  transform: translateX(294px) translateY(-352px) rotate(-16deg); }

.mosaique svg #vector-9 {
  transform: translateX(300px) translateY(-155px) rotate(0deg); }

.mosaique svg #vector-10 {
  transform: translateX(425px) translateY(-245px) rotate(-50deg); }

.mosaique svg #vector-11 {
  transform: translateX(300px) translateY(-185px) rotate(0deg); }

.mosaique svg #vector-12 {
  transform: translateX(354px) translateY(-181px) rotate(-15deg); }

.mosaique svg #vector-13 {
  transform: translateX(299px) translateY(-225px) rotate(0deg); }

.mosaique svg #vector-14 {
  transform: translateX(303px) translateY(-585px) rotate(45deg); }

.mosaique svg #vector-15 {
  transform: translateX(412px) translateY(-465px) rotate(34deg); }

.mosaique svg #vector-16 {
  transform: translateX(594px) translateY(-288px) rotate(21deg); }

.mosaique svg #vector-17 {
  transform: translateX(408px) translateY(-344px) rotate(21deg); }

.mosaique svg #vector-18 {
  transform: translateX(402px) translateY(-326px) rotate(18deg); }

.mosaique svg #vector-19 {
  transform: translateX(405px) translateY(-445px) rotate(71deg); }

.mosaique svg #vector-20 {
  transform: translateX(405px) translateY(-445px) rotate(71deg); }

.mosaique svg #vector-21 {
  transform: translateX(282px) translateY(-58px) rotate(-11deg); }

.mosaique svg #vector-22 {
  transform: translateX(564px) translateY(-430px) rotate(62deg); }

.mosaique svg #vector-23 {
  transform: translateX(564px) translateY(-430px) rotate(62deg); }

.mosaique svg #vector-24 {
  transform: translateX(125px) translateY(-222px) rotate(0deg); }

.mosaique svg #vector-26 {
  transform: translateX(625px) translateY(59px) rotate(112deg); }

.mosaique svg #vector-27 {
  transform: translateX(589px) translateY(-126px) rotate(130deg); }

.mosaique svg #vector-28 {
  transform: translateX(342px) translateY(-26px) rotate(56deg); }

.mosaique svg #vector-29 {
  transform: translateX(442px) translateY(-214px) rotate(56deg); }

.mosaique svg #vector-30 {
  transform: translateX(449px) translateY(-85px) rotate(-11deg); }

.mosaique svg #vector-31 {
  transform: translateX(283px) translateY(-45px) rotate(1deg); }

.mosaique svg #vector-34 {
  transform: translateX(300px) translateY(19px) rotate(0deg); }

.mosaique svg #vector-35 {
  transform: translateX(300px) translateY(20px) rotate(0deg); }

.mosaique svg #vector-36 {
  transform: translateX(345px) translateY(-110px) rotate(-6deg); }

.mosaique svg #vector-39 {
  transform: translateX(418px) translateY(-83px) rotate(-41deg); }

.mosaique svg #vector-40 {
  transform: translateX(221px) translateY(-93px) rotate(-52deg); }

.mosaique svg #vector-41 {
  transform: translateX(202px) translateY(-74px) rotate(61deg); }

.mosaique svg #vector-42 {
  transform: translateX(167px) translateY(-127px) rotate(86deg); }

.mosaique svg #vector-43 {
  transform: translateX(150px) translateY(-162px) rotate(19deg); }

.mosaique svg #vector-44 {
  transform: translateX(393px) translateY(0px) rotate(110deg); }

.mosaique svg #vector-45 {
  transform: translateX(258px) translateY(-167px) rotate(99deg); }

.mosaique svg #vector-46 {
  transform: translateX(493px) translateY(-158px) rotate(86deg); }

.mosaique svg #vector-47 {
  transform: translateX(222px) translateY(0px) rotate(-19deg); }

.mosaique svg #vector-48 {
  transform: translateX(390px) translateY(-487px) rotate(-39deg); }

.mosaique svg #vector-49 {
  transform: translateX(459px) translateY(-194px) rotate(-15deg); }

.mosaique svg #vector-50 {
  transform: translateX(166px) translateY(-191px) rotate(-4deg); }

.mosaique svg #vector-51 {
  transform: translateX(166px) translateY(-191px) rotate(-4deg); }

.mosaique svg #vector-52 {
  transform: translateX(419px) translateY(-263px) rotate(87deg); }

.mosaique svg #vector-53 {
  transform: translateX(195px) translateY(-323px) rotate(99deg); }

.mosaique svg #vector-54 {
  transform: translateX(64px) translateY(-189px) rotate(70deg); }

.mosaique svg #vector-55 {
  transform: translateX(-526px) translateY(392px) rotate(0deg); }

.mosaique svg #vector-56 {
  transform: translateX(-297px) translateY(225px) rotate(0deg); }

.mosaique svg #vector-57 {
  transform: translateX(-528px) translateY(183px) rotate(0deg); }

.mosaique svg #vector-58 {
  transform: translateX(-297px) translateY(195px) rotate(0deg); }

.mosaique svg #vector-59 {
  transform: translateX(-297px) translateY(195px) rotate(0deg); }

.mosaique svg #vector-60 {
  transform: translateX(-508px) translateY(422px) rotate(9deg); }

.mosaique svg #vector-61 {
  transform: translateX(-415px) translateY(398px) rotate(29deg); }

.mosaique svg #vector-62 {
  transform: translateX(-298px) translateY(108px) rotate(0deg); }

.mosaique svg #vector-63 {
  transform: translateX(-236px) translateY(160px) rotate(221deg); }

.mosaique svg #vector-64 {
  transform: translateX(-287px) translateY(272px) rotate(206deg); }

.mosaique svg #vector-65 {
  transform: translateX(-363px) translateY(212px) rotate(206deg); }

.mosaique svg #vector-66 {
  transform: translateX(-256px) translateY(237px) rotate(206deg); }

.mosaique svg #vector-67 {
  transform: translateX(-440px) translateY(392px) rotate(148deg); }

.mosaique svg #vector-68 {
  transform: translateX(-189px) translateY(226px) rotate(0deg); }

.mosaique svg #vector-69 {
  transform: translateX(-189px) translateY(555px) rotate(0deg); }

.mosaique svg #vector-70 {
  transform: translateX(-486px) translateY(234px) rotate(89deg); }

.mosaique svg #vector-71 {
  transform: translateX(-154px) translateY(252px) rotate(95deg); }

.mosaique svg #vector-72 {
  transform: translateX(-260px) translateY(221px) rotate(-13deg); }

.mosaique svg #vector-73 {
  transform: translateX(-319px) translateY(341px) rotate(-27deg); }

.mosaique svg #vector-74 {
  transform: translateX(-294px) translateY(211px) rotate(0deg); }

.mosaique svg #vector-75 {
  transform: translateX(-449px) translateY(380px) rotate(3deg); }

.mosaique svg #vector-76 {
  transform: translateX(-241px) translateY(165px) rotate(96deg); }

.mosaique svg #vector-77 {
  transform: translateX(-424px) translateY(263px) rotate(-336deg); }

.mosaique svg #vector-78 {
  transform: translateX(-363px) translateY(334px) rotate(-336deg); }

.mosaique svg #vector-79 {
  transform: translateX(-363px) translateY(334px) rotate(-336deg); }

.mosaique svg #vector-80 {
  transform: translateX(-225px) translateY(136px) rotate(-36deg); }

.mosaique svg #vector-81 {
  transform: translateX(-349px) translateY(336px) rotate(-41deg); }

.mosaique svg #vector-82 {
  transform: translateX(-383px) translateY(87px) rotate(133deg); }

.mosaique svg #vector-83 {
  transform: translateX(-474px) translateY(161px) rotate(49deg); }

.mosaique svg #vector-84 {
  transform: translateX(-491px) translateY(-263px) rotate(123deg); }

.colors {
  position: absolute;
  top: 0;
  left: 0; }
  .colors #blue,
  .colors #red,
  .colors #green,
  .colors #pastel {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .colors #blue {
    background-color: #5b79ab; }
  .colors #red {
    background-color: #F76639; }
  .colors #green {
    background-color: #319468; }
  .colors #pastel {
    background-color: #A54E97; }

.top-left {
  display: flex;
  justify-content: center; }
  .top-left h1 {
    color: var(--color-flash); }

.bottom-left {
  padding: 0% 5% 20% 20%;
  display: grid;
  grid-template-columns: 33% 33% 33%; }
  .bottom-left .skills-title {
    display: flex;
    margin-left: -5px; }
    .bottom-left .skills-title h2 {
      font-size: 1.3em;
      color: var(--color-dark);
      margin: 2px; }
  .bottom-left small {
    font-size: 11px;
    opacity: 0.7; }
  .bottom-left ul li {
    color: var(--color-dark);
    position: relative;
    margin-top: 10px;
    list-style-type: none; }
    .bottom-left ul li p {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 14px;
      color: #eef5f8;
      font-weight: 700; }
  .bottom-left .languages {
    grid-column: 1; }
    .bottom-left .languages svg {
      padding: auto;
      width: 30px;
      height: 30px; }
  .bottom-left .soft-skills {
    grid-column: 2; }
    .bottom-left .soft-skills svg {
      padding: 5px;
      width: auto;
      height: 35px;
      margin-top: -8px; }
  .bottom-left .technology {
    grid-column: 3; }
    .bottom-left .technology svg {
      padding: 5px;
      width: auto;
      height: 32px;
      margin-top: -8px; }
    .bottom-left .technology p {
      font-size: 12px;
      margin: 5px 0;
      color: grey; }
      .bottom-left .technology p .bolder {
        color: #000; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px; }

.time-line {
  height: 100%;
  width: 100%;
  position: relative; }
  .time-line ul {
    position: relative;
    position: absolute;
    display: block;
    top: 10%;
    left: -30%;
    width: auto;
    height: 150%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;
    padding: 10px;
    opacity: 0.8; }
    .time-line ul:hover {
      opacity: 1; }
    .time-line ul li {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 15px;
      transform: rotate(90deg);
      width: 200px;
      height: 200px;
      margin: 20px;
      border-top: 2px dashed #1d0329; }
      .time-line ul li::after {
        content: "";
        position: absolute;
        top: -9px;
        right: -18px;
        height: 15px;
        width: 15px;
        background: var(--color-dark);
        border-radius: 50%; }
      .time-line ul li:first-child::before {
        content: "";
        position: absolute;
        top: -9px;
        left: -18px;
        height: 15px;
        width: 15px;
        background: var(--color-dark);
        border-radius: 50%; }
      .time-line ul li a {
        text-decoration: none;
        list-style-type: none;
        color: var(--color-dark);
        padding: 5px; }
      .time-line ul li .text-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(10px);
        height: 150px;
        width: 150px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 2%; }
        .time-line ul li .text-wrapper .black-filter {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: rgba(27, 20, 20, 0.7);
          border-radius: 2%; }
          .time-line ul li .text-wrapper .black-filter h2 {
            font-size: 13px;
            text-align: center;
            color: var(--color-flash);
            margin-bottom: 0; }
          .time-line ul li .text-wrapper .black-filter p {
            color: #eef5f8;
            font-size: 12px;
            font-style: italic;
            opacity: 1;
            text-align: center;
            font-weight: bolder; }
      .time-line ul li .social-engineering {
        background-image: url(../images/postit.jpg); }
      .time-line ul li .sibelga {
        background-image: url(../images/sibelga.png); }
      .time-line ul li .cjf {
        background-image: url(../images/cjf-logo.svg); }
      .time-line ul li .declic {
        background-image: url(../images/declic.png); }
      .time-line ul li .naacao {
        background-image: url(../images/naacaob.png); }
      .time-line ul li .becode {
        background-image: url(../images/becode.jpg); }
      .time-line ul li .date-wrapper {
        color: var(--color-dark);
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-30%) translateY(-20px);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        z-index: 1; }
      .time-line ul li:hover a {
        color: #f0f0f0;
        background-color: var(--color-dark); }
      .time-line ul li:hover .text-wrapper {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(40px); }
      .time-line ul li:hover .date-wrapper {
        width: 100%;
        visibility: visible;
        opacity: 1;
        transform: translateX(-30%) translateY(-40px); }
      .time-line ul li:hover::after {
        background: var(--color-flash); }
      .time-line ul li:hover:first-child::before {
        background: var(--color-flash); }

.bottom-right .bottom-right-top-left,
.bottom-right .bottom-right-top-right,
.bottom-right .bottom-right-bottom-left,
.bottom-right .bottom-right-bottom-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .bottom-right .bottom-right-top-left .picture-wrapper,
  .bottom-right .bottom-right-top-right .picture-wrapper,
  .bottom-right .bottom-right-bottom-left .picture-wrapper,
  .bottom-right .bottom-right-bottom-right .picture-wrapper {
    position: relative;
    height: 90%;
    width: 90%;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.25); }
    .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper,
    .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper,
    .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper,
    .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: scaleY(0);
      transition: transform 200ms ease-in;
      background: rgba(0, 0, 0, 0.8); }
      .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper h2,
      .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper h2,
      .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper h2,
      .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper h2 {
        padding: 3px;
        font-size: 1.2em;
        color: var(--color-flash);
        text-align: center; }
      .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper p,
      .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper p,
      .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper p,
      .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper p {
        font-size: 0.8em;
        padding: 0 20px;
        color: #eef5f8; }
      .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper .icons,
      .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper .icons,
      .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper .icons,
      .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 3px; }
        .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper .icons img,
        .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper .icons img,
        .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper .icons img,
        .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper .icons img {
          width: 10%;
          height: auto; }
      .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper .icons-links,
      .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper .icons-links,
      .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper .icons-links,
      .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper .icons-links {
        position: absolute;
        bottom: 0;
        right: 0; }
        .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper .icons-links::before,
        .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper .icons-links::before,
        .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper .icons-links::before,
        .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper .icons-links::before {
          content: "CLICK";
          font-size: 0.8em;
          padding: 3px;
          color: #eef5f8; }
        .bottom-right .bottom-right-top-left .picture-wrapper .content-wrapper .icons-links img,
        .bottom-right .bottom-right-top-right .picture-wrapper .content-wrapper .icons-links img,
        .bottom-right .bottom-right-bottom-left .picture-wrapper .content-wrapper .icons-links img,
        .bottom-right .bottom-right-bottom-right .picture-wrapper .content-wrapper .icons-links img {
          filter: invert(1);
          width: 20px;
          height: 20px; }
    .bottom-right .bottom-right-top-left .picture-wrapper:hover .content-wrapper,
    .bottom-right .bottom-right-top-right .picture-wrapper:hover .content-wrapper,
    .bottom-right .bottom-right-bottom-left .picture-wrapper:hover .content-wrapper,
    .bottom-right .bottom-right-bottom-right .picture-wrapper:hover .content-wrapper {
      transform: scaleY(1); }
  .bottom-right .bottom-right-top-left .robinwood,
  .bottom-right .bottom-right-top-right .robinwood,
  .bottom-right .bottom-right-bottom-left .robinwood,
  .bottom-right .bottom-right-bottom-right .robinwood {
    background-image: url(../images/robinwood.png); }
  .bottom-right .bottom-right-top-left .troufkash,
  .bottom-right .bottom-right-top-right .troufkash,
  .bottom-right .bottom-right-bottom-left .troufkash,
  .bottom-right .bottom-right-bottom-right .troufkash {
    background-image: url(../images/troufkash.png); }
  .bottom-right .bottom-right-top-left .composition,
  .bottom-right .bottom-right-top-right .composition,
  .bottom-right .bottom-right-bottom-left .composition,
  .bottom-right .bottom-right-bottom-right .composition {
    background-image: url(../images/composition.png);
    background-size: 100% 100%; }
  .bottom-right .bottom-right-top-left .communs-will-grow,
  .bottom-right .bottom-right-top-right .communs-will-grow,
  .bottom-right .bottom-right-bottom-left .communs-will-grow,
  .bottom-right .bottom-right-bottom-right .communs-will-grow {
    background-image: url(../images/communs-will-grow.jpg);
    background-size: 100% 100%; }
