.background {
    svg {
        width: 100vw;
        height: 100vh;

        path {
            opacity: 1;
            transform-origin: center center;
            transition: all 700ms ease-out;
        }
    }
}

.container {
    position: relative;
    height: 100%;
    width: 100%;


    .firstname {
        position: absolute;
        top: 5%;
        bottom: 75%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 5%;
    }

    .lastname {
        position: absolute;
        bottom: -9%;
        top: 8 0%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 5%;
    }

    .hover-letter {
        font-family: "Univers";
        letter-spacing: 5px;
        font-weight: 700;
        font-style: "regular";
        text-transform: uppercase;
        font-size: 20vh;
        text-shadow: (-2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff);
        color: var(--color-darker);
        transition: 50ms ease-in-out;
        user-select: none;

        &:hover {
            color: #fff;
            text-shadow: none;
        }
    }

    .majuscule {
        font-size: 27vh;
        color: #fff;
        text-shadow: none;

        &:hover {
            text-shadow: (-2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff);
            color: var(--color-darker);
        }
    }

    .bigger {
        font-size: 50vh;
        margin-top: 25vh;
        margin-left: -4%;
    }

    #click-to-start {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        box-shadow: 10px 10px 14px rgba(grey, 0.5);
        cursor: pointer;
        outline: double 15px white;

        .click {
            position: absolute;
            font-family: "Kaushan Script", cursive;
            bottom: 0%;
            right: 3%;
            transform: rotate(-16deg);
            font-size: 1.2rem;
        }
    }

    .icons-colors {
        position: absolute;
        top: 25%;
        bottom: 25%;
        right: 80%;
        left: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .color-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #fff;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {

                // transform: translateX(2px) translateY(-2px);
                .blue,
                .green,
                .ocre {
                    transform: rotate(225deg);
                }
            }

            .blue {
                height: 12px;
                width: 12px;
                border-radius: 0% 50% 50% 50%;
                background: #5b7dac;
                transform: rotate(45deg);
                transition: 500ms ease-in-out;
            }

            .green {
                height: 12px;
                width: 12px;
                border-radius: 0% 50% 50% 50%;
                background: #419f59;
                transform: rotate(45deg);
                transition: 500ms ease-in-out;
            }

            .ocre {
                height: 12px;
                width: 12px;
                border-radius: 0% 50% 50% 50%;
                background: #ffb939;
                transform: rotate(45deg);
                transition: 500ms ease-in-out;
            }
        }
    }

    .icons-links {
        position: absolute;
        right: 20%;
        left: 80%;
        top: 25%;
        bottom: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #fff;
            margin-bottom: 10px;
            transition: 400ms ease-in-out;

            .fa-facebook-f,
            .fa-linkedin-in,
            .fa-github {
                color: var(--color-darker);
                align-items: center;
            }

            &:hover {
                background-color: var(--color-darker);

                .fa-facebook-f,
                .fa-linkedin-in,
                .fa-github {
                    color: #fff;
                }
            }
        }
    }
}

.mosaique {
    background: var(--color-darker);
}

.background {
    // animation: fadeIn 3s ease-in 800ms;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.background+main {
    display: grid;
    opacity: 1;
    transition: opacity 1s linear 1s;
    visibility: visible;
}

.background.mosaique+main {
    opacity: 0;
    visibility: hidden;
}

.background.mosaique+main+.container {
    display: block;
}

.background+main+.container {
    display: none;
}



// MOSAIQUE

svg {

    #vector-3,
    #vector-35,
    #vector-79,
    #vector-71,
    #vector-77,
    #vector-80,
    #vector-83,
    #vector-84,
    #vector-63,
    #vector-64,
    #vector-76,
    #vector-78,
    #vector-75,
    #vector-73 {
        opacity: 0.1;
    }

    #vector-28,
    #vector-34,
    #vector-46,
    #vector-44,
    #vector-43,
    #vector-69,
    #vector-68,
    #vector-72,
    #vector-74 {
        opacity: 0.2;
    }

    #vector-4,
    #vector-5,
    #vector-8,
    #vector-31,
    #vector-23,
    #vector-24,
    #vector-26,
    #vector-27,
    #vector-29,
    #vector-39,
    #vector-40,
    #vector-41,
    #vector-42,
    #vector-48,
    #vector-49,
    #vector-51,
    #vector-52,
    #vector-54,
    #vector-53,
    #vector-60,
    #vector-61,
    #vector-62 {
        opacity: 0.3;
    }

    #vector-6,
    #vector-26,
    #vector-36,
    #vector-16,
    #vector-19,
    #vector-18,
    #vector-22,
    #vector-10,
    #vector-15,
    #vector-17,
    #vector-18,
    #vector-67,
    #vector-66,
    #vector-59,
    #vector-60 {
        opacity: 0.4;
    }

    #vector-11,
    #vector-12,
    #vector-15,
    #vector-17,
    #vector-13,
    #vector-14,
    #vector-65,
    #vector-58,
    #vector-57,
    #vector-56,
    #vector-55 {
        opacity: 0.5;
    }

    #vector-85 {
        opacity: 0;
    }
}

.mosaique {
    svg {
        path {
            transform-box: fill-box;
            transform-origin: center;
            opacity: 1;
        }

        #vector-1 {
            transform: translateX(514px) translateY(387px) rotate(-90deg);
            opacity: 1;
        }

        #vector-3 {
            transform: translateX(428px) translateY(-99px) rotate(-93deg);
            opacity: 1;
        }

        #vector-4 {
            transform: translateX(300px) translateY(-14px) rotate(0deg);
            opacity: 1;
        }

        #vector-5 {
            transform: translateX(368px) translateY(-63px) rotate(8deg);
            opacity: 1;
        }

        #vector-6 {
            transform: translateX(412px) translateY(10px) rotate(-45deg);
            opacity: 1;
        }

        #vector-8 {
            transform: translateX(294px) translateY(-352px) rotate(-16deg);
            opacity: 1;
        }

        #vector-9 {
            transform: translateX(300px) translateY(-155px) rotate(0deg);
            opacity: 1;
        }

        #vector-10 {
            transform: translateX(425px) translateY(-245px) rotate(-50deg);
            opacity: 1;
        }

        #vector-11 {
            transform: translateX(300px) translateY(-185px) rotate(0deg);
            opacity: 1;
        }

        #vector-12 {
            transform: translateX(354px) translateY(-181px) rotate(-15deg);
            opacity: 1;
        }

        #vector-13 {
            transform: translateX(299px) translateY(-225px) rotate(0deg);
            opacity: 1;
        }

        #vector-14 {
            transform: translateX(303px) translateY(-585px) rotate(45deg);
            opacity: 1;
        }

        #vector-15 {
            transform: translateX(412px) translateY(-465px) rotate(34deg);
            opacity: 1;
        }

        #vector-16 {
            transform: translateX(594px) translateY(-288px) rotate(21deg);
            opacity: 1;
        }

        #vector-17 {
            transform: translateX(408px) translateY(-344px) rotate(21deg);
            opacity: 1;
        }

        #vector-18 {
            transform: translateX(402px) translateY(-326px) rotate(18deg);
            opacity: 1;
        }

        #vector-19 {
            transform: translateX(405px) translateY(-445px) rotate(71deg);
            opacity: 1;
        }

        #vector-20 {
            transform: translateX(405px) translateY(-445px) rotate(71deg);
            opacity: 1;
        }

        #vector-21 {
            transform: translateX(282px) translateY(-58px) rotate(-11deg);
            opacity: 1;
        }

        #vector-22 {
            transform: translateX(564px) translateY(-430px) rotate(62deg);
            opacity: 1;
        }

        #vector-23 {
            transform: translateX(564px) translateY(-430px) rotate(62deg);
            opacity: 1;
        }

        #vector-24 {
            transform: translateX(125px) translateY(-222px) rotate(0deg);
            opacity: 1;
        }

        #vector-26 {
            transform: translateX(625px) translateY(59px) rotate(112deg);
            opacity: 1;
        }

        #vector-27 {
            transform: translateX(589px) translateY(-126px) rotate(130deg);
            opacity: 1;
        }

        #vector-28 {
            transform: translateX(342px) translateY(-26px) rotate(56deg);
            opacity: 1;
        }

        #vector-29 {
            transform: translateX(442px) translateY(-214px) rotate(56deg);
            opacity: 1;
        }

        #vector-30 {
            transform: translateX(449px) translateY(-85px) rotate(-11deg);
            opacity: 1;
        }

        #vector-31 {
            transform: translateX(283px) translateY(-45px) rotate(1deg);
            opacity: 1;
        }

        #vector-34 {
            transform: translateX(300px) translateY(19px) rotate(0deg);
            opacity: 1;
        }

        #vector-35 {
            transform: translateX(300px) translateY(20px) rotate(0deg);
            opacity: 1;
        }

        #vector-36 {
            transform: translateX(345px) translateY(-110px) rotate(-6deg);
            opacity: 1;
        }

        #vector-39 {
            transform: translateX(418px) translateY(-83px) rotate(-41deg);
            opacity: 1;
        }

        #vector-40 {
            transform: translateX(221px) translateY(-93px) rotate(-52deg);
            opacity: 1;
        }

        #vector-41 {
            transform: translateX(202px) translateY(-74px) rotate(61deg);
            opacity: 1;
        }

        #vector-42 {
            transform: translateX(167px) translateY(-127px) rotate(86deg);
            opacity: 1;
        }

        #vector-43 {
            transform: translateX(150px) translateY(-162px) rotate(19deg);
            opacity: 1;
        }

        #vector-44 {
            transform: translateX(393px) translateY(0px) rotate(110deg);
            opacity: 1;
        }

        #vector-45 {
            transform: translateX(258px) translateY(-167px) rotate(99deg);
            opacity: 1;
        }

        #vector-46 {
            transform: translateX(493px) translateY(-158px) rotate(86deg);
            opacity: 1;
        }

        #vector-47 {
            transform: translateX(222px) translateY(0px) rotate(-19deg);
            opacity: 1;
        }

        #vector-48 {
            transform: translateX(390px) translateY(-487px) rotate(-39deg);
            opacity: 1;
        }

        #vector-49 {
            transform: translateX(459px) translateY(-194px) rotate(-15deg);
            opacity: 1;
        }

        #vector-50 {
            transform: translateX(166px) translateY(-191px) rotate(-4deg);
            opacity: 1;
        }

        #vector-51 {
            transform: translateX(166px) translateY(-191px) rotate(-4deg);
            opacity: 1;
        }

        #vector-52 {
            transform: translateX(419px) translateY(-263px) rotate(87deg);
            opacity: 1;
        }

        #vector-53 {
            transform: translateX(195px) translateY(-323px) rotate(99deg);
            opacity: 1;
        }

        #vector-54 {
            transform: translateX(64px) translateY(-189px) rotate(70deg);
            opacity: 1;
        }

        #vector-55 {
            transform: translateX(-526px) translateY(392px) rotate(0deg);
            opacity: 1;
        }

        #vector-56 {
            transform: translateX(-297px) translateY(225px) rotate(0deg);
            opacity: 1;
        }

        #vector-57 {
            transform: translateX(-528px) translateY(183px) rotate(0deg);
            opacity: 1;
        }

        #vector-58 {
            transform: translateX(-297px) translateY(195px) rotate(0deg);
            opacity: 1;
        }

        #vector-59 {
            transform: translateX(-297px) translateY(195px) rotate(0deg);
            opacity: 1;
        }

        #vector-60 {
            transform: translateX(-508px) translateY(422px) rotate(9deg);
            opacity: 1;
        }

        #vector-61 {
            transform: translateX(-415px) translateY(398px) rotate(29deg);
            opacity: 1;
        }

        #vector-62 {
            transform: translateX(-298px) translateY(108px) rotate(0deg);
            opacity: 1;
        }

        #vector-63 {
            transform: translateX(-236px) translateY(160px) rotate(221deg);
            opacity: 1;
        }

        #vector-64 {
            transform: translateX(-287px) translateY(272px) rotate(206deg);
            opacity: 1;
        }

        #vector-65 {
            transform: translateX(-363px) translateY(212px) rotate(206deg);
            opacity: 1;
        }

        #vector-66 {
            transform: translateX(-256px) translateY(237px) rotate(206deg);
            opacity: 1;
        }

        #vector-67 {
            transform: translateX(-440px) translateY(392px) rotate(148deg);
            opacity: 1;
        }

        #vector-68 {
            transform: translateX(-189px) translateY(226px) rotate(0deg);
            opacity: 1;
        }

        #vector-69 {
            transform: translateX(-189px) translateY(555px) rotate(0deg);
            opacity: 1;
        }

        #vector-70 {
            transform: translateX(-486px) translateY(234px) rotate(89deg);
            opacity: 1;
        }

        #vector-71 {
            transform: translateX(-154px) translateY(252px) rotate(95deg);
            opacity: 1;
        }

        #vector-72 {
            transform: translateX(-260px) translateY(221px) rotate(-13deg);
            opacity: 1;
        }

        #vector-73 {
            transform: translateX(-319px) translateY(341px) rotate(-27deg);
            opacity: 1;
        }

        #vector-74 {
            transform: translateX(-294px) translateY(211px) rotate(0deg);
            opacity: 1;
        }

        #vector-75 {
            transform: translateX(-449px) translateY(380px) rotate(3deg);
            opacity: 1;
        }

        #vector-76 {
            transform: translateX(-241px) translateY(165px) rotate(96deg);
            opacity: 1;
        }

        #vector-77 {
            transform: translateX(-424px) translateY(263px) rotate(-336deg);
            opacity: 1;
        }

        #vector-78 {
            transform: translateX(-363px) translateY(334px) rotate(-336deg);
            opacity: 1;
        }

        #vector-79 {
            transform: translateX(-363px) translateY(334px) rotate(-336deg);
            opacity: 1;
        }

        #vector-80 {
            transform: translateX(-225px) translateY(136px) rotate(-36deg);
            opacity: 1;
        }

        #vector-81 {
            transform: translateX(-349px) translateY(336px) rotate(-41deg);
            opacity: 1;
        }

        #vector-82 {
            transform: translateX(-383px) translateY(87px) rotate(133deg);
            opacity: 1;
        }

        #vector-83 {
            transform: translateX(-474px) translateY(161px) rotate(49deg);
            opacity: 1;
        }

        #vector-84 {
            transform: translateX(-491px) translateY(-263px) rotate(123deg);
            opacity: 1;
        }

        #vector-85 {
            transform: translateY(283px) translateX(-125px) rotate(71deg);
            opacity: 1;
        }
    }
}


@media only screen and (max-width: 768px) {
    .firstname {
        .hover-letter {
            font-size: 10vh;
        }

        .bigger {
            font-size: 20vh !important;
            margin-top: 0;
            margin-left: 0;
        }
    }

    .lastname {
        bottom: -2% !important;
        right: 0;

        .hover-letter {
            font-size: 10vh;
        }

        .majuscule {
            font-size: 20vh;
        }
    }

    .container .icons-colors {
        left: 10%;
    }

    .container .icons-links {
        right: 10%;
    }
}

@media only screen and (max-width: 414px) {
    .firstname .hover-letter {
        font-size: 6vh;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }

    .firstname .bigger {
        font-size: 15vh;
    }

    .lastname {
        bottom: 1% !important;
        margin-right: 5%;
    }

    .lastname .hover-letter {
        font-size: 6vh;
    }

    .lastname .majuscule {
        font-size: 15vh;
    }
}